.footer {
	position: relative;
	border-top: 1px solid rgba(var(--px-white-rgb), 0.1);
	padding: 15px 0;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer-info {
		h6 {
			font-size: 14px;
		}
	}
	.copyright {
		font-size: 12px;
	}
}
