<div class="container about-section">
  <div class="section-heading text-center text-lg-start">
    <h2>Acerca de mi</h2>
  </div>
  <div class="row gy-4">
    <div class="col-lg-7 ps-xr-5">
      <div>
        <p class="mb-4">Frontend developer con 6 años de experiencia, desempeñándome con tal rol en empresas del rubro financiero,
          industrial y educación,
          usando la metodología Scrum en el proceso de trabajo. Soy una persona perseverante, dinámica, dispuesta a
          aprender y desarrollar
          correctamente las funciones asignadas para optimizar el trabajo a realizar.
        </p>
      </div>
      <div class="about-section__contact row gx-lg-5">
        <div class="col-sm-6">
          <p><i class="bi-envelope"></i> <span>stefhannylr19@gmail.com</span> </p>
        </div>
        <div class="col-sm-6">
          <p><i class="bi-map"></i> <span>Perú</span> </p>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="text-center">
        <div class="btn-bar">
          <a class="px-btn" target="_blank" download href="assets/documents/CV_STEFHANNY-LAZARO.pdf">
            Descargar CV <i class="bi-download"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
