<div class="container">
  <div class="section-heading">
    <h2>Habilidades</h2>
  </div>

  <div>
    <owl-carousel-o [options]="customOptions2">
      <ng-container *ngFor="let skill of skills">
        <ng-template carouselSlide>
          <div class="brand-box">
            <img [src]="skill.imgSrc" [alt]="skill.imgAlt" [title]="skill.title">
            <p class="text-center mb-0 mt-2">{{skill.title}}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
