<main class="wrapper" id="scroll-container">
  <section id="home" class="spy-section position-relative bg-dark">
    <app-home></app-home>
  </section>

  <section id="about" class="spy-section section">
    <app-about></app-about>
  </section>

  <section class="section bg-g">
    <app-experience></app-experience>
  </section>

  <section id="skill" class="spy-section section bg-dark">
    <app-skill></app-skill>
  </section>

  <section id="work" class="spy-section section">
    <app-work></app-work>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer-info">
        <h6 class="mb-0">Stefhanny Lázaro</h6>
      </div>
      <p class="copyright mb-0">© 2024 Todos los derechos reservados</p>
    </div>
  </footer>
  <a href="#home" id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
</main>
