@import "../../../assets/scss/variable";
@import "../../../assets/scss/mixin";

.experience-section {
  .section-heading {
    p {
      max-width: 370px;

      @include down-md {
        max-width: 100%;
      }
    }

    h2 {
      margin-bottom: 40px;
    }

    .btn-bar {
      margin: 40px 0 0;
    }
  }

  &__resume-box {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 545px;
    @include down-md {
        max-width: 100%;
    }
    li {
        + li {
            padding-top: 35px;
            margin-top: 35px;
            border-top: 1px solid rgba(var(--px-white-rgb), 0.1);
            @include down-sm {
                padding-top: 20px;
                margin-top: 20px;
            }
        }
    }
    .r-meta {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 12px;
        @include down-sm {
            font-size: 14px;
        }
    }
    h5 {
        margin: 0;
        font-size: 24px;
        color: var(--px-white);
        font-weight: 700;
        text-transform: uppercase;
        @include down-sm {
            font-size: 22px;
        }
    }
  }
}
