<div class="container experience-section">
  <div class="row gy-5">
    <div class="col-lg-5">
      <div class="section-heading mb-0">
        <h6>Algunas de mis experiencias</h6>
        <h2>Experiencia</h2>
        <p>Capaz de crear, modificar, corregir aplicaciones frontend, integrando API's y garantizando una buena
          experiencia de usuario.</p>
      </div>
    </div>
    <div class="col-lg-7 ps-xl-5">
      <ul class="experience-section__resume-box">
        <li>
          <div class="r-meta">
            <span>10/23 - 01/24</span>
            <label>-VERIINFO O&S CONSULTORES </label>
          </div>
          <h5>FRONTEND DEVELOPER</h5>
        </li>
        <li>
          <div class="r-meta">
            <span>10/20 - 09/23</span>
            <label>-MDP CONSULTING S.A.C</label>
          </div>
          <h5>FRONTEND DEVELOPER</h5>
        </li>
        <li>
          <div class="r-meta">
            <span>07/19 - 03/20</span>
            <label>-TECSUP</label>
          </div>
          <h5>MENTOR FRONTEND</h5>
        </li>
      </ul>
    </div>
  </div>
</div>
