<div class="container home-section">
  <div class="row min-vh-100 align-items-center home-section__block">
    <div class="col-lg-7 col-xl-7 col-xxl-6">
      <div class="hb-text">
        <h1>
          Hola, soy<br><br>
          <span>Stefhanny Lázaro</span>
        </h1>
        <p class="lead"><span>Frontend developer</span></p>
        <ul class="nav social-link mb-4">
          <li>
            <a href="https://www.linkedin.com/in/stefhanny-lazaro-rodriguez" target="_blank"><i
                class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/stefhannylazaro" target="_blank"><i class="fab fa-github"></i></a>
          </li>
        </ul>
        <a class="px-btn" href='mailto:stefhannylr19@gmail.com?subject=Programación para una entrevista'>
          Contáctame
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-xl-4 col-xxl-6 hb-me">
      <img src="assets/img/foto-perfil.jpg" class="circle" alt="foto perfil Stefhanny Lazaro">
    </div>
  </div>
</div>
